[Unit]
Description=highrate simulation
After=multi-user.target ws-highrate.service

[Service]
WorkingDirectory=/opt/edgemap/highrate
KillMode=process
ExecStart=highrate -i highrate.ini
Restart=always
RestartSec=1
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target
