[Unit]
Description=CoT simulation target #4
After=multi-user.target taky.service

[Service]
WorkingDirectory=/opt/edgemap/cotsim
KillMode=process
ExecStart=cotsim -i cotsim-2106.ini > /dev/null 2>&1
Restart=always
RestartSec=5
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target
