[Unit]
Description=tileserver-gl-light
After=multi-user.target

[Service]
WorkingDirectory=/mnt
KillMode=process
ExecStart=/bin/tileserver-gl-light --verbose -u "http://192.168.5.74/tileserver" -p 8085 planet.mbtiles
Restart=always
RestartSec=2
TimeoutStartSec=5

[Install]
WantedBy=multi-user.target
